@model IEnumerable<User>

@{
	ViewData["Title"] = "Users";

	string hostName = Context.Request.Host.Host;

	bool isLocal = hostName.Equals("localhost", StringComparison.OrdinalIgnoreCase) || hostName.Equals("127.0.0.1", StringComparison.OrdinalIgnoreCase);

	string port = isLocal ? (Context.Request.Host.Port ?? 7128).ToString() : string.Empty;

	if (isLocal)
		hostName = $"{hostName}:{port}";
}

<div>
	<p style="float: left">
		<a asp-action="Create" class="btn btn-sm btn-info">Create New</a>
	</p>

	<form asp-controller="User" asp-action="Index" style="float: right">
		<p style="float: left; margin-right: 20px">
			<select asp-items="ViewBag.Roles" name="role" class="form-select-sm"> </select>
		</p>
		<p style="float: left; margin-right: 5px">
			Username: <input input="text" name="search" />
		</p>
		<p style="float: left">
			<input type="submit" class="btn btn-sm btn-secondary" value="Filter" />
		</p>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				Username
			</th>
			<th>
				E-Mail
			</th>
			<th>
				Role
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.ActionLink(item.Role.RoleName, "Details", "Roles", "https", hostName, null, new { id = item.Role.RoleId}, null)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-sm btn-warning">Edit</a>
					<a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-sm btn-primary">Details</a>
					<a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>